* {
    box-sizing: border-box;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
}


h1{
    text-align: center;
}

body{
    background-color: rgb(235, 118, 137);
}
.btn{
    margin: 0 auto ;
    display: block;
    background-color: #b10968;
    width: 230px;
    height: 48px;
    border: 2px;
    border-radius: 10px;
    cursor: pointer; 
}

.btn:active {
    background-color: #85054d; 
    transform: translateY(2px); 
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;

}
.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery_loader {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}